body {
  font-family: arial, sans-serif;
  background-color: #edf6f9;
  color: #073b4c;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.App .weather-app {
  padding: 40px;
  box-shadow: 0px 12px 28px -8px rgba(70, 107, 203, 0.1);
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
}

.App .weather-wrapper {
  max-width: 800px;
  margin: 30px auto;
}